---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Hero from '../components/Hero.astro'
import SobreMi from '../components/SobreMi.astro'
import '../styles/style.css'
const isSpanishPage = Astro.url.pathname.startsWith('/en')
interface Props {
  lang: string
  title: string
  description: string
  canonical: string
}

const { lang, title, description, canonical } = Astro.props
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <title>
      Marcos de Miguel. {title}
    </title><meta name="viewport" content="width=device-width" /><meta
      name="generator"
      content={Astro.generator}
    /><meta name="description" content={description} /><meta
      name="author"
      content="Marcos de Miguel"
    /><link rel="icon" type="image/svg+xml" href="/favicon.svg" /><link
      rel="canonical"
      href={`https://www.dragoncillos.com/${canonical}`}
    /></head
  >

  <body id="pageTop">
    <div id="skiptoContent">
      <a href="#mainContent">Saltar al contenido principal</a>
    </div>
    <Header />
    <Hero />
    <main id="mainContent">
      <SobreMi />
      <section id="proyectos">
        <h2>Proyectos</h2>
        <slot />
      </section>
    </main>
    <Footer />
    <!-- Scripts -->
    <script src="../js/main.js"></script>
    <!-- Page-Specific Scripts Slot -->
    <slot name="scripts" />
  </body>
</html>
